.aboutSection {
    display: block;
    text-align: left;
    position: sticky;

    h2 {
        color: #fff;
        display: block;
        margin-bottom: 10px;
    }
    p {
        color: #fff;
        font-size: 14px;
        font-weight: lighter;
        text-align: left;
        display: block;
        line-height: 28px;
    }
}
