.footerCategoriesSection {
    display: block;
    text-align: left;

    h2 {
        color: #fff;
        display: block;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
    }
    ul {
        li {
            display: block;
            padding: 10px 0px;

            a {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                display: block;
            }
        }
    }
}
