@use "../../styles/variables" as *;
.header {
    background: $primaryColor;
    line-height: 30px;

    .headerTop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {
            display: inline-flex;
            align-items: center;

            i {
                color: #fff;
                font-size: 30px;
            }
            .menuList {
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;

                .navBrand {
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                    display: inline-flex;
                    align-self: flex-start;
                }

                li {
                    display: inline-block;
                    & > a {
                        color: #fff;
                        font-size: 14px;
                        padding: 10px 10px;
                        font-weight: bold;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                    }
                }
                .otherCategories {
                    display: none;
                    width: 100%;
                    &.displayed {
                        display: inline;
                    }
                }
            }
        }
    }
    .headerBottom {
        display: none;
        &.active {
            display: inline-block;
        }
    }
}
