.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    ul {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }
}
.active a {
    background-color: #4285f4 !important;
}
